/*
* old orange theme color is FFAE5D
* new red wine theme color is 7B1842
* LINK colors are: 81F3F3
*
*/

/*
* FONTS:
* Headings: Use Raleway, sans-serif
* Body: Use Goudy Bookletter 1911, serif;
* Special: Monospace for coding font
*/

/*General style*/
body {
	background: linear-gradient(135deg, #1D1A31, #453e75, #1D1A31);
	/*background: linear-gradient(135deg, #333045 0%, #1D1A31 55%);*/
	/*background: #383a3c;*/
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1em;
}

section {
	position: relative;
	padding: 1em;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover, a:focus {
	color: #34495e;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

p {
	font-family: 'Roboto', serif;
	font-size: 16px;
	color: #fff;
}

p.big {
	font-size: 18px;
}

.header {
	text-align: center;
	margin-bottom: 40px;
}

h4.big {
	font-size: 2em;
}

h4.small {
	font-size: 1.5em;
}

b {
	font-weight: 400;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.center-me {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.navbar>.container-fluid .navbar-brand {
	margin-left: 10px;
	height: auto;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:hover {
	color: transparent;
}

.navbar {
	background-color: transparent;
	font-size: 1.3em;
	position:absolute;
	bottom: 4%;
	text-align: right;
	color: #E7E6E8;
	width: 100%;
	z-index: 20;
	border: none;
	border-bottom: 1px solid transparent;
	border-raidus: 0;
	/*transition: background-color 0.3s ease-in-out, border 0.1s ease-in-out;*/
}

.navbar a {
	display: inline-block;
	margin: 0.35em 0.1em;
	padding: 0.5em 1.2em;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	border-radius: 2px;
	font-size: 110%;
	border: 2px solid transparent;
}

.navbar .container {
	margin-right: 0px;
}

.navbar-collapse {
	padding: 0;
	overflow-x: hidden;
}

.navbar-nav {
	float:right;
	display: inline-block;
}

ul.nav a:hover,
ul.nav a:focus {
	background-color: transparent;
}

.navbar-fixed-top {
	padding-bottom: 10px;
	position:fixed;
	bottom: auto;
	z-index: 21;
}

.solid-nav {
	background-color: rgba(239, 241, 243, 1);
	border-bottom: 1px solid #e2e2e2;
	transition: background-color 0.5s ease-in-out, border 0.8s ease-in-out;
}

.mobile-nav {
	background-color: rgba(239, 241, 243, 1);
}

.menu__list {
	transition: background-color 0.5s ease-in-out, border 0.8s ease-in-out;
}

.solid-nav .navbar-nav .nav-item a.menu-link,
.mobile-nav .navbar-nav .nav-item a.menu-link {
	color: #7b7b7b!important;
	font-weight: 300;
	transition: color 0.3s ease-in-out;
}

.solid-nav.navbar-default .navbar-brand,
.navbar-default .mobile-nav .navbar-brand {
	color: #4b4b4b;
	font-weight: 800;
	transition: color 0.3s ease-in-out;
}

.solid-nav .navbar-nav .nav-item a.menu-link:hover,
.mobile-nav .navbar-nav .nav-item a.menu-link:hover,
.solid-nav.navbar-default .navbar-brand:hover,
.navbar-default .mobile-nav .navbar-brand:hover {
	color: #0a0912!important;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

/*Mobile Navbar*/

@media (max-width: 767px) {
	.navbar {
		top: 0;
	}
}

.mobile-nav {
	background-color: rgba(239, 241, 243, 1);
	transition: background-color 0.5s ease-in-out, border 0.8s ease-in-out;
}


#home {
	/*background: linear-gradient(135deg, #333045 0%, #1D1A31 55%);
	background: url('../img/space2.jpg') 50% 0 fixed;
	background-size: cover;
	background-position: center center;
	background-color: #1D1A31;*/
  	color: #FFF;
  	min-height: 100vh;
}

.scrolldown {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #2a9292;
  position: absolute;
  bottom: 6%;
  right: 0;
  left: 0;
  box-shadow: 0px 2px 8px rgba(0,0,0,.25);
  margin: 0 auto;
  cursor: pointer;
  transition: all .5s ease;
  z-index: 20;
}

.scrolldown:hover {
  bottom: 7%;
  background: #51A3A3;
  transition: bottom .5s;
}

@media (max-width: 1105px) {
	.scrolldown {
		bottom: 19%;
	}
	.scrolldown:hover {
		bottom: 20%;
	}
}
a.scrolldown:hover,
a.scrolldown:focus {
	color: #fff;
}

.wrap {
  width: 100%;
  position: relative;
  line-height: 65px;
  animation: bounce 4s linear 5s infinite;
}

@keyframes bounce {
    50% {
    top: 0px;
    }
    53.75% {
    top: 5px;
    }
   61.25% {
    top: -5px;
    }
    65% {
    top: 0px;
    }
}

.title {
	margin-top: 25vh;
	color: #E7E6E8;
	font-size: 2em;
	font-weight:100;
	text-align: center;
}

@media (max-height: 667px) {
	.title {
		margin-top: 10vh;
	}
}

.text {
	display: table;
	margin: 0 auto;
	text-align: center;
	animation-name: blink-start, typing, blink-end;
	animation-duration: 1s, 1s, 1s;
}

.text .content {
	text-align: left;
  	display: inline;
}

.text .dash {
	display: inline-block;
	/*height: 3px;
	width: 20px;
	animation: blink 1.5s infinite linear;*/
	height: 28px;
	margin-bottom: -6px;
	width: 3px;
	background-color: #3498db;
	animation: blink 0.8s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text .content p {
	padding: 0;
	margin: 0;
	line-height: 30px;
	font-size: 1em;
	font-family: monospace;
}
.text .content p.line1 {
	color: #398bc6;
}
.text .content p.line3 {
	margin-left: 1em;
	color: #2a9292;
}
.text .content p.line4 {
	margin-left: 2em;
	color: #be4678;
}

#about {
	/*background: linear-gradient(135deg, #56102E 0%, #7B1842 55%);
	background-color: #7B1842;*/
}

.about-text {
	font-weight: 100;
	text-align: justify;
	color: #E7E7E8;
	display: inline-block;
}

.portrait {
	border-radius: 50%;
	margin-bottom: 10px;
}

.about-icons h2 {
	margin: 0;
}

.about-icons {
	margin: 10px 0;
}

@media (max-width: 767px) {
	.about-icons {
		text-align: center!important;
		margin: 10px auto;
		width: 250px;
	}

	.about-icons .left {
		text-align: center;
	}

	.about-icons .right {
		text-align: center;
	}
}

/*linear gradient adds a dark layer over background*/
#skills {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/coffee.jpg') 50% 0 fixed;
	background-size: cover;
	background-position: center center;
}

.skills ul {
    list-style: none;
    font-size: 5em;
    padding-top: 1em;
}

.modal,
.modal p {
	color: #000;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin: 10px 0;
}

.modal a {
	color: #398bc6;
}

.modal-body {
	padding: 0 15px;
}

.modal-content {
	border-radius: 0;
}

.modal-dialog {
	width: 75%;
}

.modal img {
	border: 2px solid #e2e2e2;
	width: 100%;
}

.caption {
	font-size: 12px;
	text-align: center;
}


.modal-backdrop.in {
	opacity: 0.9;
}

.portfolio {
    margin: 2em auto;
    padding: 0;
    font-size: 1.5em;
}

.portfolio ul {
	padding: 0;
    list-style: none;
}

ul.buttons {
	text-transform: uppercase;
}

.portfolio ul.tile li {
    width: 30%;
    height: 15em;
	min-width: 215px;
    background: transparent;
    margin: 10px 10px;
    display: inline-block;
	position: relative;
	overflow: hidden;
}

.portfolio ul.buttons li {
	display: inline-block;
}

.portfolio ul.buttons li:hover {
	color: #E7E6E8;
	cursor: pointer;
}

@media(max-width: 767px) {
	#portfolio .tile li {
		width: 45%;
		margin: 0 1px;
	}
}

@media(max-width: 480px) {
	#portfolio .tile li {
		width: 100%;
		margin: 0;
	}
}

#portfolio .tile li {
	transition: display 0.5s ease;
}

.portfolio li img {
	width: 100%;
}

#portfolio li.burgerbuilder {
	background: url(../portfolio/burgerbuilder.png);
	background-size: cover;
	background-position: center;
}

#portfolio li.homechef {
	background: url(../portfolio/homechef.png);
	background-size: cover;
	background-position: center;
}

#portfolio li.hollywoo {
	background: url(../portfolio/hollywoo.png);
	background-size: cover;
	background-position: bottom center;
}

#portfolio li.instapix {
	background: url(../portfolio/instapix.png);
	background-size: cover;
	background-position: bottom;
}

#portfolio li.gilbert {
	background: url(../portfolio/gilbert-home.png);
	background-size: cover;
	background-position: center top;
}

#portfolio li.igem {
	background: url(../portfolio/igem.jpg);
	background-size: cover;
	background-position: center left;
}

#portfolio li.synberc {
	background: url(../portfolio/synberc.jpg);
	background-size: cover;
	background-position: center center;
}

#portfolio li.ibe {
	background: url(../portfolio/ibe.jpg);
	background-size: cover;
	background-position: center center;
}

#portfolio li.furi {
	background: url(../portfolio/furi.jpg);
	background-size: cover;
	background-position: top center;
}

#portfolio li.deserthacks {
	background: url(../portfolio/dh-home.png);
	background-size: cover;
	background-position: center center;
}

#portfolio li.geniusfactory {
	background: url(../portfolio/geniusfactory.png);
	background-size: cover;
	background-position: top center;
}

#portfolio li.studygenie {
	background: url(../portfolio/studygenie.png);
	background-size: cover;
	background-position: top left;
}

#portfolio li.sundevildice {
	background: url(../portfolio/sundevildice.png);
	background-size: cover;
	background-position: center center;
}

#portfolio li.voiceandtone {
	background: url(../portfolio/voice-and-tone.png);
	background-size: cover;
	background-position: top left;
}

/*#portfolio .tile li {
	background-color: rgba(220, 220, 220, 1);
	transition: all 0.5s ease;
}*/
/*all ease does a cool effect where it moves the background picture until you hit the desired loc*/

/*#portfolio .tile li:hover {
	background-color: transparent;
	transition: background 1s ease;

}*/

.tile-overlay {
	font-weight: 100;
	color: #6359a7;
	background-color: rgba(250, 250, 250, 1);
	position: absolute;
	padding-top: 25%;
	top: 0;
	height: 100%;
	width: 100%;
}

.tile li:hover div.tile-overlay {
	transition: all 0.5s ease;
	color: rgba(250, 250, 250, 0);
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 1;
	cursor: pointer;
	background-size: cover;
	background-position: top center;
}

.tile-text {
    position: absolute;
	width: 100%;
    top: 50%;				/*How to horizontally and vertically center elements of unspecified height*/
    left: 50%;
	padding: 10px;
    transform: translate(-50%, -50%);
    background: none;
}


#divider {
	min-height: 40vh;
	background-color: #3b3564;

	/*background: linear-gradient(135deg, #1d1a31, #3b3564);*/
}

.divider-text {
	margin-top: 5%;
}

#contact {
	min-height: 60vh;
	background: url('../img/desk.jpeg') 50% 0 fixed;
	background-size: cover;
	background-position: bottom center;

}

p.end {
	margin-top: 10px;
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(255, 255, 255, 0.6);
	font-size: 12px;
}

@media(max-width: 767px) {
	#contact .container {
		margin-top: 10%;
	}

}

#contact h2 {
	font-weight: 100;
}

.icons a {
	font-size: 1.5em;
}

.icons a:hover {
	transition: color 0.3s;
	/*color: #7B1842;*/
	color: #6359a7;
}

#contact .email button {
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
}

.chat {
	padding-top: 2em;
}

.email a:hover,
.email a:focus {
	text-decoration: none;
}
.scrollup {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #4f4786;
  box-shadow: 0px 2px 8px rgba(0,0,0,.25);
  margin: 0 auto;
  cursor: pointer;
  transition: all .5s ease;
  z-index: 50;
}

.scrollup:hover {
  background: #51A3A3;
  transition: bottom .5s;
}

@media (max-width: 1105px) {
	.scrolldown {
		bottom: 19%;
	}
	.scrolldown:hover {
		bottom: 20%;
	}
}
#divider a:hover,
#divider a:focus {
	color: #fff;
}

#divider .wrap {
	animation: bounce linear 5s infinite;
	line-height: 0px;
	padding: -15px;
}


/* Common button styles */
.button {
	/*Typography*/
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 600;
	/*General*/
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
.bg-2 .button {
	color: #ECEFF1;
	border-color: #ECEFF1;
}


/* Prospero */
.menu--prospero .menu-link {
	position: relative;
	margin: 0 1.5em;
	padding: 0.75em 0;
	text-align: center;
	color: #fff!important;
	font-weight:100;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.menu--prospero .menu-link:hover {
	color: #929292!important;
}

.menu--prospero .active {
	/*color: #d94f5c;*/
	color: #fff;
}

.menu--prospero .menu-link::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	/*background: #F4D00C;*/ /*yellow*/
	/*background: #90E0E7;*/
	background: #6359a7;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transition: -webkit-transform 0.1s;
	transition: transform 0.1s;
}

.menu--prospero .active::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

#portfolio  .menu-link {
	margin: 0 1em;
	padding: 5px 0;
}

#portfolio .menu-link::before {
	height: 2px;
}



/* Wapasha *//*
.button.button--wapasha {
	background: #51A3A3;
	color: #fff;
	-webkit-transition: background-color 0.6s, color 0.6s;
	transition: background-color 0.6s, color 0.6s;
}
.button--wapasha::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #51A3A3;
	z-index: -1;
	border-radius: inherit;
	opacity: 0;
	-webkit-transform: scale3d(0.6, 0.6, 1);
	transform: scale3d(0.6, 0.6, 1);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--wapasha.button--inverted::before {
	border-color: #51A3A3;
}
.button--wapasha:hover {
	background-color: #fff;
	color: #51A3A3;
}
.button--wapasha:hover::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	opacity: 1;
}*/


/* Aylen */
.button.button--aylen {
	background: #fff;
	color: #37474f;
	border: 2px solid #fff;
	overflow: hidden;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
.button--aylen.button--inverted {
	background: none;
	color: #fff;
}
.button--aylen::before,
.button--aylen::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 100%;
	left: 0;
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--aylen::before {
	background: #928bc2;
}
.button--aylen::after {
	background: #6359a7;
}
.button--aylen:hover {
	border: 2px solid #fff;
	color: #fff;
}
.button--aylen:hover::before,
.button--aylen:hover::after {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.button--aylen:hover::after {
	-webkit-transition-delay: 0.175s;
	transition-delay: 0.175s;
}
